<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="sideMenuAdminFragment" >
    <div class="sidebar">
        <h2>Sidebar Menu</h2>
        <md-filled-button><a href="">Ajouter un utilisateur</a></md-filled-button><br><br>
        <md-filled-button><a href="#">Utilisateurs desactives</a></md-filled-button><br><br>
        <md-filled-button> <a href="#">Utilisateurs</a></md-filled-button><br><br>
    </div>
</body>
</html>