.container {
    display: flex; /* Enable Flexbox */
    height: 100%; /* Full height of the viewport */
}
.sidebar {
    width: 250px; /* Fixed width for the sidebar */
    background-color: rgba(244, 244, 244, 0.71); /* Light grey background */
    padding: 100px; /* Padding around the text */
}
.content {
    flex-grow: 1; /* Take up the remaining space */
    padding: 20px; /* Padding around the content */
    background-color: #fff; /* White background for content area */
}



