body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     background-color: white;
 }

.button-container .centered-content {
    background-color: #F4F4F4;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    gap: 10px; /* Espaces entre les boutons */
    flex-direction: column;
    align-items: flex-start;
}
h1 {
    margin-bottom: 40px; /* Espace entre le titre et le bloc de boutons */
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Utiliser 100vh pour occuper toute la hauteur de la fenêtre */
}

.login-form {
    width: 350px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px; /* Optionnel : pour arrondir les coins */
    background-color: #fff; /* Optionnel : pour donner un fond blanc au formulaire */
}
.user-form {
    width: 550px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px; /* Optionnel : pour arrondir les coins */
    background-color: #fff; /* Optionnel : pour donner un fond blanc au formulaire */
}
.user-form > label {
    margin: 5px;

}

.login-input {
    display: block;
    width: 100%; /* Assurez-vous que les labels et les inputs occupent toute la largeur du conteneur */
    margin-bottom: 8px; /* Ajouter de l'espace entre les éléments pour un meilleur espacement */
    border-radius: 8px;
    border: 1px solid #ccc;

}

.login-form > input {
    padding: 8px; /* Ajouter du padding pour rendre les inputs plus confortables */
}
