<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/HTML/CSS/Accueil.css">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<header>
    Accueil
</header>

<aside>
    <h1>Menu</h1>
    <button> <a href="http://localhost:63342/chat_admin/static/HTML/Accueil.html"> Accueil </a> <br></button><br>
    <button> <a href="http://localhost:63342/chat_admin/static/HTML/chat.html"> Chat </a> <br></button><br>
    <button> <a href="http://localhost:63342/chat_admin/static/HTML/interfaceAdmin.html"> Admin </a> <br></button><br>

</aside>
<main>

</main>
<footer>
    SR03 application chat Lilian et Zoé
</footer>

</body>
</html>