<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="/CSS/adminHomePage.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/mwc-button@latest/dist/mwc-button.css">
<script src="https://cdn.jsdelivr.net/npm/@material/mwc-button@latest/dist/mwc-button.js"></script>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="importmap">
        {
          "imports": {
            "@material/web/": "https://esm.run/@material/web/"
          }
        }
    </script>
    <script type="module">
        import '@material/web/all.js';
        import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
        document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
    <title></title>
</head>
<body>
<div class="container">
    <div th:fragment="sideBar">
        <div class="sidebar">
        <h2>Menu</h2>
            <md-fab label="Accueil" id="HomePage" ></md-fab><br><br>

        <md-fab label="Ajouter un utilisateur" id="addUser" ></md-fab><br><br>
        <md-fab label="Utilisateurs desactives" id="desactives" ></md-fab><br><br>
        <md-fab label="Utilisateurs" id="utilisateurs" ></md-fab><br><br>
        <script>
            document.getElementById('HomePage').addEventListener('click', function() {
                window.location.href = 'http://localhost:8080/AdminController';
            });
            document.getElementById('addUser').addEventListener('click', function() {
                window.location.href = 'http://localhost:8080/AdminController/getUserForm';
            });
            document.getElementById('desactives').addEventListener('click', function() {
                window.location.href = 'http://localhost:8080/AdminController/inactiveUsers';
            });
            document.getElementById('utilisateurs').addEventListener('click', function() {
                window.location.href = 'http://localhost:8080/AdminController/usersPage';
            });
        </script>
    </div>
    </div>
    <div class="content">
    </div>
</div>
</body>
</html>