<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Page de Profil</title>
    <link rel="stylesheet" href="../static/CSS/adminHomePage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/mwc-button@latest/dist/mwc-button.css">
    <script src="https://cdn.jsdelivr.net/npm/@material/mwc-button@latest/dist/mwc-button.js"></script>
</head>
<body>
<h1>Page de Profil</h1>
<div th:if="${updateSuccess}">
    <div style="color: green;" th:text="${updateSuccess}"></div>
</div>
<div th:if="${updateError}">
    <div style="color: red;" th:text="${updateError}"></div>
</div>
<form action="/AdminController/updatePassword" method="post">
    <input type="email" name="mail" placeholder="Entrez votre email" required>
    <input type="password" name="newPassword" placeholder="Nouveau mot de passe" required>
    <button type="submit">Mettre à jour le mot de passe</button>
</form>
</body>
</html>
