aside {
    background-color: #f4f4f4; /* Couleur de fond */
    padding: 20px; /* Espacement interne */
    width: 200px; /* Largeur de l'élément */
    float: left; /* Positionnement à droite */
    margin: 10px 0; /* Marge externe */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Ombre portée légère */
}
header {
    background-color: #333; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center; /* Alignement du texte */
    padding: 1em 0; /* Espacement interne pour donner de la hauteur */
    font-size: 20px; /* Taille de la police */
}
